.main-section {
  color: #2d3238;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 40px;
  text-align: center;
  width: 70%;
}

h2, h3, h4 {
  font-family: 'Russo One', sans-serif;
  color: #69655f;
  padding-top: 15px;
}

img {
  background: #333333;
  padding: 15px 15px;
  margin-top: 12px;
  max-width: 100%;
  height: auto;
}
