<div class="main-section">
  <div *ngFor = "let video of videos; let i=index">
    <div *ngIf="i==videos.length-1">
      <video controls>
        <source src="{{video.url}}">
      </video>
      <h3>
        {{video.title}}
      </h3>
      <p *ngIf="video.description">
        Description: {{video.description}}
      </p>
      <p>
        Posted by: {{video.postedBy}}
      </p>
    </div>
  </div>
<!--  <ul *ngIf="video.comments">-->
<!--    <li *ngFor = "let comment of comments; let i=index">{{comments[i]}}<button>delete</button></li>-->
<!--  </ul>-->
</div>
