/*li {*/
/*  list-style: none;*/
/*}*/

/*input {*/
/*  display: block;*/
/*}*/

.login-container {
  margin: 2em auto;
  width: 25%;
}

.register-container {
  margin: 2em auto;
  width: 25%;
}

.alert {
  margin-top: 0.5em;
}
