<div class="container">
  <div class="register-container">
    <h3>Register</h3>
    <div> Firstname:</div>
    <label>
      <input type="text" name="firstName" [(ngModel)]="firstName">
    </label>
    <div> Lastname:</div>
    <label>
      <input type="text" name="lastName" [(ngModel)]="lastName">
    </label>
    <div> Email:</div>
    <label>
      <input type="email" name="email" [(ngModel)]="email">
    </label>
    <div> Username:</div>
    <label>
      <input type="text" name="username" [(ngModel)]="username">
    </label>
    <div> Password:</div>
    <label>
      <input type="password" name="password" [(ngModel)]="password">
    </label>
    <div>
      <button class="btn btn-success" (click)=handleJWTRegistration()>Register</button>
    </div>
  </div>
</div>
