<div class="container">
  <div class="alert alert-warning" *ngIf="invalidRegistration">{{registrationErrorMessage}}</div>
  <div class="register-container">
    <h3>Register</h3>
    <div> First Name:</div>
    <label>
      <input type="text" name="firstname" required="required" [(ngModel)]="firstName">
    </label>
    <div> Last Name:</div>
    <label>
      <input type="text" name="firstname" required="required" [(ngModel)]="lastName">
    </label>
    <div> Email:</div>
    <label>
      <input type="email" name="email" required="required" [(ngModel)]="email">
    </label>
    <div> Username:</div>
    <label>
      <input type="text" name="username" required="required" [(ngModel)]="username">
    </label>
    <div> Password:</div>
    <label>
      <input type="password" name="password" required="required" [(ngModel)]="password">
    </label>
    <div>
      <button class="btn btn-success" (click)=handleJWTRegistration()>Register</button>
    </div>
  </div>
</div>
