<div *ngIf="myVideos.length > 1" class="container-fluid my-video-hero d-flex justify-content-between">
  <div class="main-section" *ngFor="let video of myVideos; let i = index;">
    <div *ngIf="video == selectedVideo">
      <video controls>
        <source src="{{video.videoURL}}">
      </video>

      <div class="header-comments">
        <h3>
          {{video.title}}
        </h3>
        <p class="description">{{video.description}}</p>
        <p class="posted-by">{{video.userName}} posted on {{video.videoTimePosted}}</p>
        <app-comments [videoID]="video.videoId" [videoUsername]="video.userName"></app-comments>
      </div>

      <div class="d-flex justify-content-end edit-button">
        <button type="button" class="btn btn-info" routerLink="/editvideo" routerLinkActive="active">Edit Video</button>
      </div>

    </div>
  </div>

  <div class="my-side-bar">
    <div *ngFor="let video of myVideos.reverse(); let i = index;">
      <div *ngIf="video != selectedVideo">
        <div class="container my-video-box">
          <video (click)="onSelect(video)">
            <source src="{{video.videoURL}}">
          </video>
        </div>
        <h4 (click)="onSelect(video)">
          {{video.title}}
        </h4>
        <p *ngIf="video.description">
          {{video.userName}}: {{video.description}}
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="myVideos.length < 1" class="no-videos">
  <h6>You haven't posted any videos!</h6>
</div>

<div *ngIf="myVideos.length == 1">
  <div class="only-section" *ngFor="let video of myVideos; let i = index;">

    <div *ngIf="video == selectedVideo">
      <video controls>
        <source src="{{video.videoURL}}">
      </video>

      <div class="d-flex justify-content-end only-edit-button">
        <button type="button" class="btn btn-info" routerLink="/editvideo" routerLinkActive="active">Edit Video</button>
      </div>

      <div class="only-header-comments">
        <h3>
          {{video.title}}
        </h3>
        <p class="only-description">{{video.description}}</p>
        <p class="only-posted-by">{{video.userName}} posted on {{video.videoTimePosted}}</p>
        <app-comments [videoID]="video.videoId" [videoUsername]="video.userName"></app-comments>
      </div>
    </div>
  </div>

</div>
