<div *ngIf="myVideos.length > 1">
  <div class="main-section" *ngFor="let video of myVideos; let i = index;">
    <div *ngIf="video == selectedVideo">
      <video controls>
        <source src="{{video.videoURL}}">
      </video>

      <nav>
        <a routerLink="/editvideo" routerLinkActive="active">edit video</a>
      </nav>

      <div class="header-comments">
        <h3>
          {{video.title}}
        </h3>
        <p>
          {{video.userName}} posted on {{video.videoTimePosted}}<br/>
          {{video.description}}
        </p>
        <app-comments [videoID]="video.videoId" [videoUser]="video.userName"></app-comments>
      </div>
    </div>
  </div>

  <div class="side-bar">
    <div *ngFor="let video of myVideos.reverse(); let i = index;">
      <div *ngIf="video != selectedVideo">
        <video (click)="onSelect(video)">
          <source src="{{video.videoURL}}">
        </video>
        <h4 (click)="onSelect(video)">
          {{video.title}}
        </h4>
        <p *ngIf="video.description">
          {{video.userName}}: {{video.description}}
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="myVideos.length == 0" class="no-videos">
  <h6>You haven't posted any videos!</h6>
</div>

<div *ngIf="myVideos.length == 1">
  <div class="only-section" *ngFor="let video of myVideos; let i = index;">
    <div *ngIf="video == selectedVideo">
      <video controls>
        <source src="{{video.videoURL}}">
      </video>
      <div class="header-comments">
        <h3>
          {{video.title}}
        </h3>
        <p>
          {{video.userName}} posted on {{video.videoTimePosted}}<br/>
          {{video.description}}
        </p>
        <app-comments [videoID]="video.videoId" [videoUser]="video.userName"></app-comments>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
