<div class="toolbar" role="banner">
  <h1>ZipTube</h1>
</div>


Left upper corner:
* on login/register page  -  (nothing?)
* on main page/if not signed in  -  login/register button
* on every page/if signed in  -  logout button


Right upper corner:
* on main page/if not signed in  -  (nothing?)
* on main page/if signed in  -  my videos, upload video, edit profile
* on user page/if signed in  -  browse videos, upload video, edit profile
* on login/register page  -  browse videos
* on upload video page - browse videos, my videos, edit profile
