<div class="toolbar" role="banner">
  <h1>ZipTube</h1>
<!--  <ul class="user-video-page">-->
<!--    <li class="logout"><a routerLink="login">Log Out</a></li>-->
<!--    <li class="right-side1"><a routerLink="">Browse Videos</a></li>-->
<!--    <li class="right-side2"><a routerLink="uploadvideo">Upload Video</a></li>-->
<!--    <li class="right-side3"><a routerLink="editprofile">Edit Profile</a></li>-->
<!--  </ul>-->
  <ul class="main-video-page-signed-in">
    <li class="logout"><a routerLink="login">Log Out</a></li>
    <li class="right-side1"><a routerLink="uservideos">My Videos</a></li>
    <li class="right-side2"><a routerLink="uploadvideo">Upload Video</a></li>
    <li class="right-side3"><a routerLink="editprofile">Edit Profile</a></li>
  </ul>
<!--  <ul class="main-video-page-not-signed-in">-->
<!--    <li class="login"><a routerLink="login">Login/Register</a></li>-->
<!--    <li class="right-side1"><a routerLink="uservideos">My Videos</a></li>-->
<!--    <li class="right-side2"><a routerLink="uploadvideo">Upload Video</a></li>-->
<!--    <li class="right-side3"><a routerLink="editprofile">Edit Profile</a></li>-->
<!--  </ul>-->
<!--  <ul class="login-page-not-signed-in">-->
<!--    <li class="right-side"><a routerLink="">Browse Videos</a></li>-->
<!--  </ul>-->
<!--  <ul class="login-page-signed-in">-->
<!--    <li class="logout"><a routerLink="login">Log Out</a></li>-->
<!--    <li class="right-side1"><a routerLink="">Browse Videos</a></li>-->
<!--    <li class="right-side2"><a routerLink="uservideos">My Videos</a></li>-->
<!--    <li class="right-side3"><a routerLink="uploadvideo">Upload Videos</a></li>-->
<!--  </ul>-->
</div>




<!--Left upper corner:-->
<!--* on login/register page  -  (nothing?)-->
<!--* on main page/if not signed in  -  login/register button-->
<!--* on every page/if signed in  -  logout button-->


<!--Right upper corner:-->
<!--* on main page/if not signed in  -  (nothing?)-->
<!--* on main page/if signed in  -  my videos, upload video, edit profile-->
<!--* on user page  -  browse videos, upload video, edit profile-->
<!--* on login/register page  -  browse videos-->
<!--* on upload video page - browse videos, my videos, edit profile-->
