<div class="container d-flex flex-column">

  <div>
    <h3>Upload Video</h3>
    <br>
  </div>

  <div class="d-flex justify-content-center">

    <div class="upload-content d-flex flex-column justify-content-between" method="post" enctype="multipart/form-data">

      <div>
        <h4>1. Choose File</h4>
      </div>

      <div class="progress">
        <div class="progress-bar progress-bar-striped active"
             role="progressbar"
             attr.aria-valuenow="{{ progress }}"
             aria-valuemin="0" aria-valuemax="100"
             [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%
        </div>
      </div>

      <div class="container">
        <form enctype="multipart/form-data" [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="form-group">
            <input (change)="uploadFile($event)" class="text-wrap" type="file" accept=".mp4, .mov">
          </div>
          <h6>*Note: File format must be mp4 or mov</h6>
          <div class="form-group">
            <button [disabled]="disableSubmitButton" class="btn btn-success next-button">Upload</button>
          </div>
        </form>
      </div>
    </div>

    <div class="upload-content d-flex flex-column justify-content-between">
      <h4>2. Video Details</h4>
      <br>
      <div>Title:</div>
      <label>
        <input [disabled]="disableUploadButton" type="text" name="title" [(ngModel)]="videoTitle" required="required">
      </label>
      <div>Description:</div>
      <label>
        <input [disabled]="disableUploadButton" type="text" name="description" [(ngModel)]="videoDescription"
               required="required">
      </label>

      <div>
        <button [disabled]="disableUploadButton" class="btn btn-success"
                (click)="submitVideoDetails()">Submit
        </button>
      </div>
    </div>

    <div class="upload-content {{isVisible}}">
      <h4>3. Upload Complete!</h4>
      <div class="alert alert-success alert-message" role="alert">
        <p>You have successfully uploaded your video</p>
        <hr>
        <p class="mb-0">Please click the button below if you'd like to upload another video</p>
        <br>
        <button class="btn btn-primary"
                (click)="uploadAnotherVideo()">Upload New Video
        </button>
      </div>
    </div>

  </div>

</div>
