<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <input type="hidden" #selection>
    <div><a href="#" class="navbar-brand mb-0 h1">ZipTube</a></div>

    <div class="container-fluid" id="navbarNav" [ngSwitch]="selection.value">
      <ul class="navbar-nav navbar-collapse justify-content-start" *ngSwitchDefault>
        <li class="nav-item"><a *ngIf="!hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="login" (click)="selection.value = 'login'">Login / Register</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngSwitchCase="'uservideos'">
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="login" (click)="selection.value = 'login'">Log Out</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link" routerLink="#"
                                (click)="selection.value = 'main'">Browse Videos</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="uploadvideo" (click)="selection.value = 'uploadvideo'">Upload Video</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="editprofile" (click)="selection.value = 'editprofile'">Edit Profile</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngSwitchCase="'uploadvideo'">
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="login" (click)="selection.value = 'login'">Log Out</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link" routerLink=""
                                (click)="selection.value = 'main'">Browse Videos</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="uservideos" (click)="selection.value = 'uservideos'">My Videos</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="editprofile" (click)="selection.value = 'editprofile'">Edit Profile</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngSwitchCase="'main'">
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="login" (click)="selection.value = 'login'">Log Out</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="uservideos" (click)="selection.value = 'uservideos'">My Videos</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="uploadvideo" (click)="selection.value = 'uploadvideo'">Upload Video</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="editprofile" (click)="selection.value = 'editprofile'">Edit Profile</a>
        </li>
      </ul>

      <ul class="edit-profile navbar-nav" *ngSwitchCase="'editprofile'">
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="login" (click)="selection.value = 'login'">Log Out</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link" routerLink=""
                                (click)="selection.value = 'main'">Browse Videos</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="uservideos" (click)="selection.value = 'uservideos'">My Videos</a>
        </li>
        <li class="nav-item"><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" class="nav-link"
                                routerLink="uploadvideo" (click)="selection.value = 'uploadvideo'">Upload Video</a>
        </li>
      </ul>

      <!--      <ul class="login-page-not-signed-in navbar-nav navbar-collapse justify-content-end" *ngSwitchDefault>-->
      <!--        <li class="right-side nav-link"><a routerLink="" (click)="selection.value = 'main'">Browse Videos</a></li>-->
      <!--      </ul>-->
    </div>
  </nav>
</header>


<!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"-->
<!--        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
