.toolbar {
  background-color: #eddcd2;
  color: #69655f;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

h1 {
  /*font-family: 'Comfortaa', cursive;*/
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  margin-top: 8px;
}
