<h3>
  My Account
</h3>
<ul>
  <li>First name:  <input placeholder="change first name"/></li>
  <li>Last name:  <input placeholder="change last name"/></li>
  <li>Password:  <input placeholder="change password"/></li>
  <li>Email:  <input placeholder="change email"/></li>
<!--  <li>{{user.firstName}}  <input placeholder="new first name"/></li>-->
<!--  <li>{{user.lastName}}  <input placeholder="new last name"/></li>-->
<!--  <li>{{user.password}}  <input placeholder="new password"/></li>-->
<!--  <li>{{user.email}}  <input placeholder="new email"/></li>-->
  <input type="submit">
</ul>
