<div class="container">
  <div class="update-user-container">
    <div class="alert alert-warning" *ngIf="updateProfileForm.dirty && updateProfileForm.invalid">Enter valid values</div>
  </div>

  <h3>Edit Profile</h3>
  <br>
  <form #updateProfileForm="ngForm">
    <fieldset>
      <label>First Name:</label>
      <br>
      <label>
        <input type="text" name="firstName" required="required" [(ngModel)]="firstName" value="{{firstName}}">
      </label>
    </fieldset>

    <fieldset>
      <label>Last Name:</label>
      <br>
      <label>
        <input type="text" name="lastName" [(ngModel)]="lastName" required="required" value="{{lastName}}">
      </label>
    </fieldset>

    <fieldset>
      <label>Email:</label>
      <br>
      <label>
        <input type="email" name="email" [(ngModel)]="email" required="required"
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" value="{{email}}">
      </label>
    </fieldset>

    <br>
    <button type="submit" class="btn btn-success" (click)=handleJWTProfileUpdate()>Submit</button>
  </form>

  <div class="confirm-changes {{isVisible}}">
    <div class="alert alert-success" role="alert">
      Your changes have been saved.
    </div>
  </div>
</div>
