.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-pics {
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  cursor: pointer;
  transition: .15s ease-out;
}

img {
  max-width: 80%;
  height: auto;
}

.our-pics:hover {
  transform: translateY(-0.25rem);
}

footer {
  font-size: 12px;
  height: 85px;
  line-height: 20px;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #343a40;
}

.open-source {
  margin: auto;
}

img {
  border-radius: 15px/15px;
}
