.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-pics {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  cursor: pointer;
  transition: .15s ease-out;
}

img {
  max-width: 100%;
  height: auto;
}

.our-pics:hover {
  transform: translateY(-0.25rem);
}

footer {
  font-size: 12px;
  height: 72px;
  line-height: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
}

.open-source {
  font-weight: bold;
  margin: 0 auto;
  padding: 3px 0;
}

.open-source a {
  color: #6d757d;
  /*color: #9a9da0;*/
  padding-left: 3px;
  padding-right: 3px;
}

.open-source a:hover {
  color: #9a9da0;
  text-decoration: none;
  padding-right: 5px;
}

img {
  border-radius: 10px/10px;
}

.rights-reserved {
  position: absolute;
  bottom: 3px;
  left: 5px;
}
