<footer>
  <p class="open-source"><a href="https://github.com/shubham-amatya/VideoLibraryApplication" target="_blank" rel="noopener">open source code</a> by:</p>
  <div class="card-container">
    <a class="our-pics" target="_blank" rel="noopener" href="https://github.com/cmmsnow">
      <img alt="Christine" src="https://avatars2.githubusercontent.com/u/69160111?s=460&u=d4c90fbde2bca7ea05870a2a9208c8e1caf716d1&v=4" width="50" height="50">
    </a>
    <a class="our-pics" target="_blank" rel="noopener" href="https://github.com/christian-p-anderson">
      <img alt="Christian" src="https://avatars0.githubusercontent.com/u/72522105?s=400&u=4ae0448939fe4ab707ca03ef277d5c4c37dc9f5f&v=4" width="50" height="50">
    </a>
    <a class="our-pics" target="_blank" rel="noopener" href="https://github.com/hgivhan">
      <img alt="Hillary" src="https://avatars3.githubusercontent.com/u/73129932?s=400&v=4" width="50" height="50">
    </a>
    <a class="our-pics" target="_blank" rel="noopener" href="https://github.com/JarrellW">
      <img alt="Jay" src="https://avatars0.githubusercontent.com/u/73120876?s=400&u=af4504f5ed5b55e98196454b9211516a21d834d5&v=4" width="50" height="50">
    </a>
    <a class="our-pics" target="_blank" rel="noopener" href="https://github.com/shubham-amatya">
      <img alt="Shubham" src="https://avatars1.githubusercontent.com/u/72518585?s=400&u=2b1480d7fde96db7bd76a67c66908af816255fa3&v=4" width="50" height="50">
    </a>
  </div>
</footer>
