.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  position: absolute;
  left: 0;
  top: 0;
  /*bottom: 0;*/
  /*bottom: 85px;*/
  overflow-y: auto;
}

.main-section h2, h3, h4 {
  padding-top: 0;
}

.main-section video {
  padding: 15px 15px 0px;
  max-width: 100%;
  max-height: 600px;
  /*z-index: -1;*/
  /*z-index: 1 !important;*/
}

.main-section li {
  list-style: none;
}

.header-comments {
  overflow-y: auto;
}

.side-bar{
  position: absolute;
  right: 0;
  top: 5px;
  /*bottom: 0;*/
  bottom: 90px;
  width: 30%;
  padding: 10px;
  overflow-y: auto;
  text-align: center;
}

.side-bar video {
  max-width: 100%;
  max-height: 200px;
  margin-top: 0px;
}

.side-bar h4,p {
  margin-top: 0;
  padding-top: 0;
}

.side-bar p {
  margin-bottom: 20px;
}

.main-section, .side-bar {
  /*z-index: 100;*/
}
