.hero {
  width: 100%;
  height: 100vh;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  position: absolute;
  left: 0px;
  /*padding-bottom: 100px;*/
  /*overflow-y: auto;*/
  /*scroll-behavior: smooth;*/
}

.main-section h2, h3, h4 {
  padding-top: 0;
}

.main-section video {
  display: block;
  margin: 0 auto;
  padding: 15px 25px 0;
  max-width: 90%;
  max-height: 500px;
}

.header-comments {
  margin-top: 8px;
  position: absolute;
  left: 8%;
  right: 10%;
}

.posted-by, .description {
  position: relative;
  right: 15px;
}

.posted-by {
  font-size: small;
  position: relative;
  bottom: 6px;
}

.side-bar{
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  padding: 17px 10px 150px 10px;
  /*overflow-y: auto;*/
  /*scroll-behavior: smooth;*/
  background-image: linear-gradient(to top, #e2ebf0 0%, #cfd9df 100%);
}

.side-bar video {
  max-height: 12.5em;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
}

.side-bar h4,p {
  margin-top: 0;
  padding-top: 0;
  padding-left: 20px;
  text-align: left;
}

.side-bar video,h4:hover{
  cursor: pointer;
}

.side-bar p {
  margin-bottom: 20px;
  position: relative;
  bottom: 8px;
}

.video-box {
  margin-bottom: 0;
  margin-right: 0.5em;
}

.video-box video {
  margin-top: 0.5em;
}

button {
  z-index: -10;
}
