.comment-section {
  margin-top: 20px;
}

.header{
  float: left;
  padding-bottom: 10px;
  padding-left: 0;
  padding-top: 8px;

}

hr {
  height: 1px;
  border-top: 2px;
  /*width: 100%;*/
  /*margin: 10px auto;*/
}

.comment-by-username {
  float: left;
}

.buttons{
  float: right;
  padding: 0;
  position: relative;
  bottom: 3px;
}

.line{
  display: block;
  clear: both;
  padding: 10px 0;
}

.user-comment {
  margin-left: 0.75em;
}

.edit-user-comment {

}

button {
  margin-left: 0.75em;
}

.user-edit-delete-comment {
  /*border: 1px solid green;*/
}

