<div class="comment-section">

  <form ng-controller="Controller">
    <textarea class="form-controller" rows="2" name="newComment" [(ngModel)]="newComment" placeholder="Post Comment"></textarea>
  <br/>
  <br/>
    <button (click)="post()" >Comment </button>
<!--    <button class="btn btn-success btn-md pull-right" ng-click='btn_post();'>Comment</button>-->
  <br/>
    <hr/>
    <div>
      <div *ngFor = "let comment of comments; let i=index">
        <div *ngIf="comment.videoId == videoID">{{comment.userName}}: {{comment.comment}}<button>delete</button></div>
      </div>
    </div>
    <h3>Comments</h3>
    <ul class="list-group">

            </ul>
<a href="" ng-click="post_cmt($home)"><span class="glyphicon glyphicon-trash" style="color:blue; float:right"></span></a>
    </form>

</div>


<!--trial 1-->
<!--<script type="text/javascript">-->
<!--  function Controller($scope){-->
<!--    $scope.comments = [];-->
<!--    $scope.btn_post = function()-->
<!--    {-->
<!--      if($scope.userName !=''){-->
<!--        $scope.comments.push($scope.userName);-->
<!--        $scope.userName="";-->
<!--      }-->
<!--    }-->
<!--    $scope.post_cmt= function($home){-->
<!--      $scope.comments.splice($home,  1);-->
<!--    }-->
<!--  }-->
<!--</script>-->



        <!--  <input placeholder="Post comment" type="text" name="newComment" [(ngModel)]="newComment">-->
<!--  <button (click)=addComment()>Submit</button>-->
<!--  <div *ngFor = "let comment of comments; let i=index">-->
<!--    <div *ngIf="comment.videoId == videoID">{{comment.userName}}: {{comment.comment}}<button>delete</button></div>-->
<!--  </div>-->
<!--</div>-->
